main{
    padding: 50px;
}   

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

h2{
    justify-content: left;
    color: lightseagreen;
    padding-top: 40px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


